{% extends "serious_temp/base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block css %}
    {{ super() }}
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>{{ name }}</h1>
            {% for sentence in aphorisms %}
                <p>{{sentence}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ super() }}
    <!-- Bootstrap core JavaScript -->
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
{% endblock %}
