{% extends "base.html" %}

{% block content %}
  <h1>Welcome to Flask challenge 101</h1>

  <h4> Once upon a time there was a king and queen who lived in a golden castle with their beautiful Devon. One night an ugly ogre captured Devon and locked him up in his tall, dark tower.
<br>'Help me!'<br>
'Roar!'<br><br>
The king and queen were very sad. They promised to give a bag of gold to the knight that rescued Devon.
<br>'Please save Devon!'
<br>'We'll save Devon!'<br><br>

All the knights in the land wanted to rescue Devon. They rode to the tower as fast as they could.
<br>'Help me!'
<br>'Roar!'
<br><br>

The ugly ogre roared with anger when he saw the knights. His roar was so scary that they rode away as fast as they could.
</h4>
<br>
<h4>You! A friendly smart dragon is flying over the ogre’s tower, And you heard Devon cry for help. </h4>
<h4>'Help me!'</h4><br>
<h4>
To fight ogre, you need finish all quests to reactivate an ancient weapon
</h4><br>

  <h4>Quest 1. Find the file where function <code>challenge1</code> is located</h4>
  <h4>Quest 2. To activate this button. You need create a function and Use the
    route() decorator to bind this function to url "/challenge2".
    And this function should return a html page "challenge2.html"</h4>
    <br>

  <a class="btn btn-info" href="/challenge2">Next</a>
{% endblock %}
